* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.wraper {
  max-width: 60%;
  margin: 2rem auto;
  text-align: center;
  border: 1px solid red;
}

.list {
  width: 450px;
  border: 1px solid black;
  margin: 2rem auto;
  padding: 1rem 1rem;
  text-align: left;
}

.list-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .312rem;
}

.list-items:not(:last-child) {
  margin-bottom: .625rem;
}

.list-items button {
  padding: 3px 8px;
  cursor: pointer;
}

.gray-bg {
  background-color: #ddd;
}

#add {
  padding: 10px 22px;
}

input{
  padding: .625rem;
}